nav {
  /* Top Level Navigation */
  margin: 0;
  padding: 100px 0;
}
nav ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 768px) {
  nav ul {
    display: none;
  }
}
nav ul li {
  display: inline-block;
  margin: 0;
}

nav a {
  /* Targets all menu links */
  text-decoration: none;
  color: #333;
  padding: 1em;
}
nav a:hover, nav a:active, nav a:focus {
  color: navy;
  text-decoration: underline;
}

nav ul ul {
  /* Targets 1st Level Sub Menu */
  display: none;
  position: absolute;
  z-index: 99999;
  width: 175px;
  margin-top: 0.25em;
  margin-left: -2.5em;
}
nav ul ul li {
  width: 100%;
  margin: 0;
  padding: 0.5em 0;
}

nav ul ul ul {
  /* Targets 2nd Level Sub Menu */
  display: none;
  position: absolute;
  z-index: 99999;
  width: 175px;
  margin-top: -1.5em;
  margin-left: 150px;
}
nav ul ul ul li {
  width: 100%;
  margin: 0;
  padding: 0.5em 0;
  text-align: left;
}

nav ul li:hover > ul, nav ul li:active > ul, nav ul li:focus > ul,
nav ul ul li:hover > ul,
nav ul ul li:active > ul,
nav ul ul li:focus > ul {
  display: block;
}

nav a#pull {
  /* Responsive Menu Pull */
  display: none;
}
@media only screen and (max-width: 768px) {
  nav a#pull {
    display: block;
    text-align: center;
    font-size: 2em;
    width: 1em;
    text-decoration: none;
    color: #333;
    margin: 0 auto;
    padding: 0.25em 0.5em;
  }
  nav a#pull:hover, nav a#pull:active, nav a#pull:focus {
    background: navy;
    color: #fff;
  }
}

@media only screen and (max-width: 768px) {
  /* Remaining Responsive Styles */
  nav ul ul,
  nav ul ul ul {
    position: static;
    width: auto;
    margin: 0;
    padding: 0;
  }

  nav ul li,
  nav ul ul li,
  nav ul ul ul li {
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 2;
  }
}
